<!-- main content for page -->
<div class="col-xs-6">
	<h3 style="text-align:center">Welcome to Orderys!</h3>
	<br>
	<h4>Choose a Restaurant</h4>
	<!-- Restaurant select menu -->
	<br>
	<ul style="height:200px; overflow:auto; border: 1px solid black; padding-right:20px;">
			
		<li ng-repeat = "business in allBusiness track by $index" style="border-bottom: solid black 1px">
			<br>
			{{business.name}}
			<a href='#menu/{{business.id}}'style="text-decoration: none">
				<button class="button" style="float:right">See Menu</button>
			</a>
			
			<br>
			<br>
			<br>
			
		</li>
		
	</ul>
</div>

<!-- side bar right -->
<div class="col-xs-3">
			
			<h4>Active Orders</h4>
			
			<!-- list of orders -->	
			<ul style="height:200px;overflow:auto;padding-right:20px; border-top: solid black 1px;">
				<li style="border-bottom: solid black 1px">
					<br>
				 	<p>Business Name</p>
			 		<p>cost</p>
			 		<br>
			 		<br>
				</li>
			</ul>
			
			
</div>