	
	<!-- main content for page -->
	<div class="col-xs-6">
			
			<br>
			
			<!-- list of menu items -->
			<ul  style="height:300px;overflow:auto;">
			
			<!-- one menu item on manager side -->
			<li style="border-bottom:1px solid black;" ng-repeat="product in managedBusiness.menu track by product.id">
			
			<img ng-src="{{product.photoUrl}}" alt="Profile Picture" style="width:100px;height:100px;">
			<!--<input ng-model="product." type="text">-->
			<h5>{{product.name}}</h5>
			<p>{{product.description}}</p>
			<p>{{product.intendedCompletionTime}}</p>
			<p>{{product.productPrice | currency}}</p>
			
			<select ng-model="newProduct.station">
			<!-- default taht it starts on -->
				<option disabled selected ng-value="null">Change Station</option>
				<option ng-repeat="station in managedBusiness.stations track by station.id" ng-value="station">{{station.stationName}}</option>
				
				<!--<option value="station1">Station 1</option>
					<option value="station2">Station 2</option>
					<option value="station3">Station 3</option>-->
			</select>
			<br>
			<br>
			<button class="button">Update</button>
			<button class="button">Delete</button>
			<br>
			<br>
			</li>
				
			</ul>
			
			<br>
			<!-- Button trigger modal -->
			<button type="button" class="button" data-toggle="modal" data-target="#menuCreate" style="width:200px">
  					Add Menu Item
			</button>
			<br>
			<br>
			
		</div>
			
			<!-- side bar right -->
			<div class="col-xs-3">
			
			<!-- List of stations -->
			<ul style="height:250px;overflow:auto;">
			
			<li ng-repeat="station in managedBusiness.stations track by station.id">
			<br>
			<button class="button">{{station.stationName}}</button>
			<br>
			</li>
			
			</ul>
			
			<!-- all modals located at bottom of page -->
			<br>
			
			<!-- Button for station modal -->
			<button type="button" class="button" data-toggle="modal" data-target="#stationCreate" style="width:200px">
  					Add Station
			</button>
			<br>
			<br>
			<!-- Button for employee modal -->
			<button type="button" class="button" data-toggle="modal" data-target="#eCreate" style="width:200px">
  					Add Employee
			</button>
			<br>
			<br>
			
	</div>
			


	<!-- modals -->

<!-- Modal for menu itme creation -->
<div class="modal fade" id="menuCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Menu Item</h4>
      </div>
      <div class="modal-body">
      
      <!-- Create menu item form -->
        <form name="menuItemCreate">
        
        	<img name="uploadedImg" alt="Menu Item Pic" src="https://s3.amazonaws.com/revature-orderys/MainLogo.png" style="width:150px;height:150px; float:left">
					Product Name <input ng-model="newProduct.name" type="text" name="pName" placeholder="Product Name" style="float:right" required=required> <br><br>
					Description <input ng-model="newProduct.description" type="text" name="discription" placeholder="Discription" style="float:right" required=required> <br><br>
					Estimated wait time <input ng-model="newProduct.intendedCompletionTime" type="text" name="time" placeholder="00:00" style="float:right" required=required> <br><br>
					Price <input ng-model="newProduct.productPrice" type="text" name="price" placeholder="00.00" C required=required> <br><br>
			
					<!--<button class="button">Upload Image</button>-->
					
					<select ng-model="newProduct.station">
					<!-- default taht it starts on -->
						<option disabled selected ng-value="null">Change Station</option>
						<option ng-repeat="station in managedBusiness.stations track by station.id" ng-value="station">{{station.stationName}}</option>
						
						<!--<option value="station1">Station 1</option>
							<option value="station2">Station 2</option>
							<option value="station3">Station 3</option>-->
					</select>
					<input type="submit" ng-submit="submitMenuItem()" class="button" style="float:right" value="Confirm">
					<br>
					<br>
        
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal for menu station creation -->
<div class="modal fade" id="stationCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Station</h4>
      </div>
      <div class="modal-body">
      
      <!-- Create station form -->
       <form name="stationCreate">
       
       Name <input ng-model="newStation.stationName" type = "text" name="sName" placeholder="Name"  style="float:right" required=required> <br><br>
       
       <input type=submit ng-submit="submitStation()" class="button" style="float:right" value="Confirm">
       <br>
       <br>
       
       </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for menu employee creation -->
<div class="modal fade" id="eCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
      </div>
      <div class="modal-body">
      
      
       <!-- Create employee form -->
       <form name="eCreate">
       
       First Name <input ng-model="newHire.firstName" type = "text" name="fName" placeholder=" First Name" style="float:right" required=required> <br><br>
       Last Name <input ng-model="newHire.lastName" type = "text" name="lName" placeholder="Last Name" style="float:right" required=required> <br><br>
       Email <input ng-model="newHire.email" type = "text" name="email" placeholder="Email" style="float:right" required=required> <br><br>
       
       <input type="submit" ng-submit="offerJob()" class="button" style="float:right" value="Confirm">
       <br>
       <br>
       
       </form>
      
      </div>
    </div>
  </div>
</div>