		
		<!-- main content for page -->
		<div class="col-xs-6">
			
			<img src="https://s3.amazonaws.com/revature-orderys/MainLogo.png" alt="Profile Picture" style="width:100px;height:100px;">
			<p>{{User.firstName }} {{User.lastName }}</p>
			<p>{{User.email}}</p>
			<button class="button" data-toggle="modal" data-target="#pUpdate" >Edit</button>
			<br>
			<br>
			
			<div ng-hide="isManager()">
			<button class="button" data-toggle="modal" data-target="#cBusiness" >Create Business</button>
			<br>
			<br>
			</div>
			
		</div>
			
			
		<!-- side bar right -->
		<div class="col-xs-3">
			
			<h4>Past Orders</h4>
			
			<!-- list of orders -->	
			<ul style="height:200px;overflow:auto;padding-right:20px; border-top: solid black 1px;">
				<li style="border-bottom: solid black 1px">
					<br>
				 	<p>Business Name</p>
			 		<p>cost</p>
			 		<button class="button">Rate</button>
			 		<br>
			 		<br>
				</li>
			</ul>
			
			
		</div>
			
	
	
	<!-- Modal for update profile -->
<div class="modal fade" id="pUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Info</h4>
      </div>
      <div class="modal-body">
      
      
       <!-- Update user form -->
       <form name="pUpdate">
       
       First Name <input type = "text" name="fName" placeholder=" First Name" style="float:right" required=required> <br><br>
       Last Name <input type = "text" name="lName" placeholder="Last Name" style="float:right" required=required> <br><br>
       Email <input type = "text" name="email" placeholder="Email" style="float:right" required=required> <br><br>
       
       <input type=submit class="button" style="float:right" value="Confirm">
       <br>
       <br>
       
       </form>
      
      </div>
    </div>
  </div>
</div>


	<!-- Modal for update profile -->
<div class="modal fade" id="cBusiness" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Info</h4>
      </div>
      <div class="modal-body">
      
      
       <!-- Update user form -->
       <form name="cBusiness">
       
       Name <input type = "text" name="fName" placeholder=" First Name" style="float:right" required=required> <br><br>
       Address 1 <input type = "text" name="lName" placeholder="Last Name" style="float:right" required=required> <br><br>
       Address 2 <input type = "text" name="email" placeholder="Email" style="float:right"> <br><br>
       City <input type = "text" name="city" placeholder="City" style="float:right" required=required> <br><br>
       State <input type = "text" name="state" placeholder="State" style="float:right" required=required> <br><br>
       Country <input type = "text" name="country" placeholder="Country" style="float:right" required=required> <br><br>
       Zip Code <input type = "number" name="zip" placeholder="Zip Code" style="float:right" required=required> <br><br>
       
       
       <input type=submit class="button" style="float:right" value="Confirm">
       <br>
       <br>
       
       </form>
      
      </div>
    </div>
  </div>
</div>