		<!-- main content for page -->
		<div class="col-xs-6">
			<h3 style="text-align:center">{{business.name}}</h3>

			<h4>Menu</h4>
				
			<!-- 	Collapseable display for menu items -->
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="item in business.menu">
				
				
			<!-- 	one panel element -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading{{$index}}">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion"
									href="#collapse{{$index}}" aria-expanded="false"
									aria-controls="collapse{{$index}}" target="_self">{{item.name}}</a> <p style="float:right">{{item.productPrice}}</p>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="heading{{$index}}">
							<div class="panel-body">
								</div>
									<img alt="Menu Item Pic" ng-src="{{item.photoUrl}}" style="width:100px;height:100px; float:left">
									<h5>{{item.name}}</h5>
									<p>{{item.description}}</p>
									<p>{{intendedCompletionTime}}</p>
									<p>{{item.productPrice | currency}}</p>
									<button class="button" ng-click="addToOrder($index)">Add to Order</button>
									<br>
								</div>
						</div>				
					</div>
			</div>
				

		<!-- side bar right -->
		<div class="col-xs-3">
				<h3 style="text-align: center">My Order</h3>
				<br>
				<!-- list of order items -->
				<ul style="height: 200px; overflow: auto;">
					<li style="margin:5px; border-bottom: solid black 1px;" ng-repeat="item in order">
						<p>{{item.name}}</p>
						<p>{{item.productPrice | currency}}</p>
						<button class="button" ng-click="removeFromOrder($index)">Remove</button> <br>
					</li>
				</ul>
				<p>Total: amount</p>
				<button class="button" ng-click="placeOrder()">Submit Order</button>

		</div>